.mobile-menu {
  justify-content: flex-end;
  padding: 0;
  padding-left: 56px;
  &__content {
    padding: 20px 15px;
    width: max-content;
  }

  &__navigation {
    a {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__phone {
    margin-top: 20px;
    display: flex;
    svg {
      margin-right: 15px;
    }
  }
}