.stages {
    &-tabs {
        width: 100%;
        max-width: 560px;
        &__item {
            .expanding-tab__content {
                p {
                    padding-bottom: 30px;
                }
            }
        }
    }

    @include lg {
        &-image {
            width: 100%;
            max-width: 50%;
        }
    }

    @include md {
        &-image {
            display: none;
        }
    }
}