.talk {
    &-examples {
        margin-bottom: 36px;
        gap: 40px;
        &__item {
            height: 308px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-size: cover;
            background: no-repeat center center;
            flex: 1;
            h3 {
                color: #fff;
            }
            .btn {
                gap: 12px;
                padding: 0;
                height: 43px;
                width: 100%;
                font-size: 16px; 
                border: 2px solid var(--primary);
                .talk-examples-icon__playing {
                    display: none;
                }
                &.playing {
                    background: none;
                    border-color: #fff;
                    .talk-examples-icon {
                        display: none;
                    }
                    .talk-examples-icon__playing {
                        display: block;
                    }
                }
            }
        }
        &-icon {
            &__playing {
                path {
                    stroke: #fff;
                }
            }
        }
    }

    @include lg {
        &-examples {
            gap: 20px;
            &__item {
                padding: 15px;
                height: 230px;
            }
        }
    }

    @include md {
        &-examples {
            gap: 10px;
            flex-wrap: wrap;
            &__item {
                flex: unset;
                width: calc(50% - 10px);
                height: 180px;
            }
        }
    }

    @include sm {
        &-examples {
            margin-bottom: 20px;
            &__item {
                padding: 10px;
                height: 140px;
                h3 {
                    font-size: 12px;
                }
                .btn {
                    height: 30px;
                    gap: 5px;
                    svg {
                        height: 10px;
                    }
                }
            }
            .audio-example-text {
                font-size: 10px;
            }
        }
    }
}